<!DOCTYPE html>
<html lang="en">
{% include "_static_components/head.njk" %}

<body>
  
  {% include "_static_components/header.njk" %}
  <main id="main">

    {% set rowDefaults = "mt-0 mb-5 g-md-4 g-2" %}

    {% block main %}{% endblock %}
  </main>
  {% include "_static_components/footer.njk" %}

 

</body>
</html>
