<header>

  <div class="container py-3">
    <div class="content-skip">
      <a href="#main" class="skip-to">Skip to content</a>
    </div>
      
   
  
  <nav class="navbar">
   
      
  </nav>
      
      
      
  
    </div>
</header>